<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="../public/css/styles.css">
	<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap" rel="stylesheet">
	<script src="https://code.jquery.com/jquery.js"></script>
	<title>Project 2</title>
</head>

<body>

	<!-- Dillon's Code -->
	<div class="jumbotron main-div jumbotron-fluid">
		<div class="container">
			<h1 class="main-title maindisplay-4">Crewsin' for a Brewsin'</h1>
			<p class="main-lead">Search and select your local breweries to visit!
			</p>
		</div>
	</div>
	<div class="brewery-search input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text" id="inputGroup-sizing-default">Search</span>
		</div>
		<form id="user-search">
		<input id="user-input" type="text" class="user-input form-control" aria-label="Sizing example input"
			aria-describedby="inputGroup-sizing-default">
		</form>
		<button id="saved"><a href="/saved">Go to Your Saved Breweries</a></button>
			
	</div>
	<!--  -->

	<!-- Joseph's code -->



	<!--  -->

	<!-- Dee's code -->



	<!--  -->

	<!-- Roman's code -->

    <ul class="list-group" id="search-results">
        <li class="list-group-item d-flex justify-content-between align-items-center">
        Breweries
		</li>
	</ul>
	
	



	<!--  -->

	<!-- MAP -->
	<div id="map"></div>

	<!-- MAP -->

	<!-- SCRIPT -->
	<script src="../public/js/axioscode.js"></script>
	<script src="../public/js/brewery.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4OnWTXUjhoiJo3Lf1XrJ519_t1BFcioM&callback=initMap"
		async defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

	<!--  -->
</body>

</html>