/* Dillon's Code */
.main-div{
    background-color: black;
    color: #ffffff;
    background-image: url("../../../../../../Desktop/barrels.jpg");
    background-size: 100%;
}

.main-title {
    size: 30%;
    border: solid 5px #ffffff;
    text-align: center;
}

.main-lead {
    text-align: center;
}

.search-bar{
    margin: 0 auto;
    width: 50%;
}

/*  */

/* Romans code */





/*  */

/* Joesphs code */





/*  */

/* Dee's code */





/*  */