/* Dillon's Code */
.main-div{
    background-color: black;
    color: #ffffff;
}

.main-title {
    text-align: center;
}

.main-lead {
    text-align: center;
}

.search-bar{
    margin: 0 auto;
    width: 50%;
}

/*  */

/* Romans code */

.list-group{
    width: 25%;   
}



/*  */

/* Joesphs code */





/*  */

/* Dee's code */





/*  */